In [23]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [24]:
def renameColumns(df):
    return [col.split('-', 1)[1] if '-' in col else col for col in df.columns]

In [25]:
def convertTime(df):
    df['Time'] = pd.to_datetime(df['Time'], format='%Y-%m-%d %H:%M:%S')
    return df

In [26]:
def isWeekend(dateObj):
    return dateObj.weekday() in [5, 6]

In [27]:
df_08_45_18 = pd.read_csv("sensorData/08_45_18.csv")
df_08_45_18.columns = renameColumns(df_08_45_18)
df_08_45_18 = convertTime(df_08_45_18)
df_08_45_18.head()

,Time,eye01.co2,eye01.humidity,eye01.light,eye01.motion,eye01.occupancy,eye01.temperature,eye01.tvoc,eye01.vdd,eye02.co2,...,voc04.tvoc,voc04.vdd,voc05.co2,voc05.humidity,voc05.light,voc05.motion,voc05.occupancy,voc05.temperature,voc05.tvoc,voc05.vdd
0,2023-10-01 00:00:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-10-01 00:00:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-10-01 00:02:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-10-01 00:03:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-10-01 00:03:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
#Separate df with data only from weekdays
weekendMask = df_08_45_18['Time'].apply(isWeekend)
df_08_45_18_weekdays = df_08_45_18[~weekendMask]
df_08_45_18_weekdays = df_08_45_18_weekdays.reset_index(drop=True)
df_08_45_18_weekdays

,Time,eye01.co2,eye01.humidity,eye01.light,eye01.motion,eye01.occupancy,eye01.temperature,eye01.tvoc,eye01.vdd,eye02.co2,...,voc04.tvoc,voc04.vdd,voc05.co2,voc05.humidity,voc05.light,voc05.motion,voc05.occupancy,voc05.temperature,voc05.tvoc,voc05.vdd
0,2023-10-02 00:00:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-10-02 00:00:21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-10-02 00:01:57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-10-02 00:03:18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-10-02 00:03:31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19585,2023-10-06 23:58:58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,119.0,3649.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19586,2023-10-06 23:59:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19587,2023-10-06 23:59:06,NaN,40.0,0.0,0.0,0.0,23.6,NaN,3656.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19588,2023-10-06 23:59:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19589,2023-10-06 23:59:58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
def makeDfSensorSingle(df, sensorName):
    dfSensor = pd.DataFrame()
    sensorColumns = ['Time'] + [col for col in df.columns if sensorName in col] 
    dfSensor = df[sensorColumns]
    dfSensor = dfSensor.dropna(axis=1, how='all')
    dfSensor = dfSensor.dropna().reset_index(drop=True)
    return dfSensor

def makeDfSensorType(df, sensorName):
    dfSensor = pd.DataFrame()
    sensorColumns = ['Time'] + [col for col in df.columns if sensorName in col] 
    dfSensor = df[sensorColumns]
    dfSensor = dfSensor.dropna(how='all')
    dfSensor = dfSensor.dropna(axis=1, how='all')
    return dfSensor

In [30]:
#Sensor reading for eye01 - every 10 minutes 00:09:38
#Sensor reading for eye02 - every 10 minutes 00:07:37 
#Sensor reading for eye03 - every 10 minutes 00:06:08
sensorEye01 = makeDfSensorSingle(df_08_45_18, 'eye01')
sensorEye02 = makeDfSensorSingle(df_08_45_18, 'eye02')
sensorEye03 = makeDfSensorSingle(df_08_45_18, 'eye03')
sensorEye04 = makeDfSensorSingle(df_08_45_18, 'eye04')
sensorEye05 = makeDfSensorSingle(df_08_45_18, 'eye05')
sensorEye06 = makeDfSensorSingle(df_08_45_18, 'eye06')
sensorEye07 = makeDfSensorSingle(df_08_45_18, 'eye07')
sensorEye08 = makeDfSensorSingle(df_08_45_18, 'eye08')
sensorEye09 = makeDfSensorSingle(df_08_45_18, 'eye09')
sensorEye10 = makeDfSensorSingle(df_08_45_18, 'eye010')
sensorEye11 = makeDfSensorSingle(df_08_45_18, 'eye011')

In [31]:
sensorEye01.head()

,Time,eye01.humidity,eye01.light,eye01.motion,eye01.occupancy,eye01.temperature,eye01.vdd
0,2023-10-01 00:09:38,35.0,1.0,0.0,0.0,23.9,3664.0
1,2023-10-01 00:19:38,36.0,0.0,0.0,0.0,23.9,3659.0
2,2023-10-01 00:29:38,36.0,0.0,0.0,0.0,23.9,3659.0
3,2023-10-01 00:39:38,36.0,0.0,0.0,0.0,24.0,3662.0
4,2023-10-01 00:49:38,36.0,1.0,0.0,0.0,23.9,3659.0

In [32]:
sensorVOC01 = makeDfSensorSingle(df_08_45_18, 'voc04')
sensorVOC01.head()

,Time,voc04.humidity,voc04.light,voc04.motion,voc04.temperature,voc04.tvoc,voc04.vdd
0,2023-10-01 00:04:27,34.0,134.0,0.0,25.6,93.0,3655.0
1,2023-10-01 00:09:27,35.0,124.0,0.0,25.6,97.0,3652.0
2,2023-10-01 00:14:27,35.0,127.0,0.0,25.6,109.0,3652.0
3,2023-10-01 00:19:27,35.0,131.0,0.0,25.6,122.0,3652.0
4,2023-10-01 00:24:27,35.0,134.0,0.0,25.6,106.0,3652.0

In [388]:
sensorVOC = makeDfSensorType(df_08_45_18, 'voc')
sensorVOC.head

<bound method NDFrame.head of                      Time  voc01.humidity  voc01.light  voc01.motion  \
0     2023-10-01 00:00:23            30.0          0.0           0.0
1     2023-10-01 00:00:26             NaN          NaN           NaN
2     2023-10-01 00:02:01             NaN          NaN           NaN
3     2023-10-01 00:03:24             NaN          NaN           NaN
4     2023-10-01 00:03:37             NaN          NaN           NaN
...                   ...             ...          ...           ...
30840 2023-10-08 23:58:48             NaN          NaN           NaN
30841 2023-10-08 23:58:51             NaN          NaN           NaN
30842 2023-10-08 23:58:55             NaN          NaN           NaN
30843 2023-10-08 23:59:47            32.0          0.0           0.0
30844 2023-10-08 23:59:48             NaN          NaN           NaN

       voc01.temperature  voc01.tvoc  voc01.vdd  voc02.humidity  voc02.light  \
0                   25.3       131.0     3648.0             NaN          NaN
1                    NaN         NaN        NaN             NaN          NaN
2                    NaN         NaN        NaN            29.0          0.0
3                    NaN         NaN        NaN             NaN          NaN
4                    NaN         NaN        NaN             NaN          NaN
...                  ...         ...        ...             ...          ...
30840                NaN         NaN        NaN             NaN          NaN
30841                NaN         NaN        NaN             NaN          NaN
30842                NaN         NaN        NaN             NaN          NaN
30843               23.0         0.0     3645.0             NaN          NaN
30844                NaN         NaN        NaN             NaN          NaN

       voc02.motion  ...  voc04.motion  voc04.temperature  voc04.tvoc  \
0               NaN  ...           NaN                NaN         NaN
1               NaN  ...           NaN                NaN         NaN
2               0.0  ...           NaN                NaN         NaN
3               NaN  ...           NaN                NaN         NaN
4               NaN  ...           NaN                NaN         NaN
...             ...  ...           ...                ...         ...
30840           NaN  ...           0.0               23.6        49.0
30841           NaN  ...           NaN                NaN         NaN
30842           NaN  ...           NaN                NaN         NaN
30843           NaN  ...           NaN                NaN         NaN
30844           NaN  ...           NaN                NaN         NaN

       voc04.vdd  voc05.humidity  voc05.light  voc05.motion  \
0            NaN             NaN          NaN           NaN
1            NaN             NaN          NaN           NaN
2            NaN             NaN          NaN           NaN
3            NaN             NaN          NaN           NaN
4            NaN             NaN          NaN           NaN
...          ...             ...          ...           ...
30840     3649.0             NaN          NaN           NaN
30841        NaN             NaN          NaN           NaN
30842        NaN             NaN          NaN           NaN
30843        NaN             NaN          NaN           NaN
30844        NaN             NaN          NaN           NaN

       voc05.temperature  voc05.tvoc  voc05.vdd
0                    NaN         NaN        NaN
1                    NaN         NaN        NaN
2                    NaN         NaN        NaN
3                    NaN         NaN        NaN
4                    NaN         NaN        NaN
...                  ...         ...        ...
30840                NaN         NaN        NaN
30841                NaN         NaN        NaN
30842                NaN         NaN        NaN
30843                NaN         NaN        NaN
30844                NaN         NaN        NaN

[30845 rows x 31 columns]>

In [149]:
sensors = [
    'eye01', 'eye02', 'eye03', 'eye04', 'eye05',
    'eye06', 'eye07', 'eye08', 'eye09', 'eye10', 'eye11'
]
df_sensor_eye = df_sensor_eye.interpolate()
df_sensor_eye.head

<bound method NDFrame.head of                       Time  eye01.humidity  eye01.light  eye01.motion  \
0      2023-10-01 00:00:23             NaN          NaN           NaN
1      2023-10-01 00:00:26             NaN          NaN           NaN
2      2023-10-01 00:02:01             NaN          NaN           NaN
3      2023-10-01 00:03:24             NaN          NaN           NaN
4      2023-10-01 00:03:37             NaN          NaN           NaN
...                    ...             ...          ...           ...
30840  2023-10-08 23:58:48       42.076923          1.0           0.0
30841  2023-10-08 23:58:51       42.038462          1.0           0.0
30842  2023-10-08 23:58:55       42.000000          1.0           0.0
30843  2023-10-08 23:59:47       42.000000          1.0           0.0
30844  2023-10-08 23:59:48       42.000000          1.0           0.0

       eye01.occupancy  eye01.temperature  eye01.vdd
0                  NaN                NaN        NaN
1                  NaN                NaN        NaN
2                  NaN                NaN        NaN
3                  NaN                NaN        NaN
4                  NaN                NaN        NaN
...                ...                ...        ...
30840              0.0          18.892308     3664.0
30841              0.0          18.896154     3664.0
30842              0.0          18.900000     3664.0
30843              0.0          18.900000     3664.0
30844              0.0          18.900000     3664.0

[30845 rows x 7 columns]>